/***************************************************************************************************************************/
/******************************************************** LAYOUT ***********************************************************/
/***************************************************************************************************************************/

.l-changelog-header {
	margin: 0 auto;
	text-align:center;
}

.l-changelog-wrapper {
	margin-top: 50px;
}

.l-changelog-footer {
	position:fixed;
	bottom: 0;
	width:100%;
	text-align:center;
	background:#000;
	color:#fff;
	padding: 0 10px;
	padding: 10px 0;
}
