/***************************************************************************************************************************/
/********************************************************* THEME ***********************************************************/
/***************************************************************************************************************************/

@import 'mixin';
@import 'base';
@import 'layout';

h1 { margin-bottom: 0;}

.changelog-blogtitle { color:$black;font-weight:200;margin-top: 10px;padding: 0 10px; }

.changelog-blogdescription { 
	padding: 0;
	margin-top: 5px;
	font-weight: normal;
	color:$black; 
	font-family: Lato, sans-serif;
}

.changelog-article {
	width:100%;max-width: 768px;margin: 0 auto;margin-top: 30px;

	time { 
		width:20%;
		float:left;
		background:none;
		text-align:center;
		font-weight:300;
		font-size: 1.1em;
		background: $makecolor;
		margin-top: 10px;
		border-radius: 4px 0 0 10px;

		i {
			color:$white;
			font-size: 1.2em;
			display:block;
			padding: 5px 0;
			text-shadow: 0 1px 0 rgba(0,0,0,.2)
		}
		
		span {
			width: 100%;
			position:relative;
			font-size: 0.8em;
			background:$grey;
			color: #000;
			display: block;
			border-radius: 0 0 0 4px;
			padding: 2px 0;
			margin-top: 3px;
		}
	}
	
	.changelog-content { 
		width: 78%;float:left;background: $white;box-sizing: border-box;border-radius:4px;border: 2px dashed $palegreen;	

		h1 { padding: 20px 0 0 0;font-size: 2em; }
		.changelog-postcontent {
			padding: 0 20px;
		}
		
	}
	@include clearfix;
}

.changelog-posttitle { margin: 0 0 5px 0;font-weight:200;margin-left: 20px }
.changelog-postcontent p { margin: 0 0 20px 0;}

.tags { 
	width:100%;
	padding: 10px;
	text-align:left;
	background: $grey;
	color:$black;
	box-sizing: border-box;
	border-radius: 0 0 4px 4px;
	display:block; 
	font-size: 0.9em;
	padding-left: 20px;
}

.changelog-pagination {
	width: inherit;
	text-align:center;
	margin: 0 auto;
	margin: 30px 0 50px 0;

	nav.pagination span {
		font-style:italic;
		font-size: 0.9em;
	}
}

.l-changelog-footer p { color:$white; }
.l-changelog-footer p, .l-changelog-footer a { font-size: 0.8em;}

@include create-animation-classes;
@include create-keyframes;


/* RESPONSIVE */
@media screen and (max-width: 768px) {
	.changelog-article {
		time {
			width:90%;
			margin: 0 auto;
			float:none;
			display:block;
			border-radius: none;
			background: none;
			color:$black;
		}

		.changelog-content {
			width: 90%;
			margin: 0 auto;
			float:none;
		}
	}
}








